{% extends "studentbase.html" %}
{% load static %}

{% block pagetitle %}
    Quiz
{% endblock%}
{% block stylesheets %}
    <link rel="stylesheet" href = "{%static "dashboard/quiz_view.css"%}">
{% endblock%}

{% block content %}
    <div>
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.description }}</p>
    
    <div id="question-section">
        <h2>Question {{ question_num }} of {{ total_questions }}</h2>
        <p>{{ question.question_text }}</p>

        <form method="post">
            {% csrf_token %}
            
                <div>
                    <input type="radio" id="option1" name="selected_option" value="a">
                    <label for="option1">{{ question.answera }}</label>

                    <input type="radio" id="option2" name="selected_option" value="b">
                    <label for="option2`">{{ question.answerb }}</label>

                    <input type="radio" id="option3" name="selected_option" value="c">
                    <label for="option3">{{ question.answerc }}</label>

                    <input type="radio" id="option4" name="selected_option" value="d">
                    <label for="option4">{{ question.answerd }}</label>
                </div>

            <button type="submit">{% if lastquestion %}Submit{% else %}Next{% endif %}</button>
        </form>
    </div>

    <div id="question-navigation">
        <h3>Question Navigation</h3>
        <ul>
            {% for i in question_range %}
                <li>
                    <a href="{% url 'quiz_view' quiz.id i %}" {% if i == question_num %}class="current-question"{% endif %}>
                        {{ i }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    </div>
{% endblock %}