{% extends "studentbase.html" %}
{% load static %}
{% block pagetitle %}
    Quiz
{% endblock%}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static "dashboard/quiz.css" %}"
{% endblock %}
{% block content %}
    <section class="about">
        <h1>Quizzes</h1>
        <ul>
            {% for quiz in quizzes %}
                <li>
                    <h3>{{ quiz.title }}</h3>
                    <h5>{{ quiz.updated_at }}</h5>
                    <a href="{% url "quiz_view" quiz.id 1%}">Start</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}