.quiz-results {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.quiz-results th, .quiz-results td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.quiz-results tr:nth-child(even) {
    background-color: #f2f2f2;
}

.quiz-results th {
    background-color: #3b6da7;
    color: white;
}